 <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all">

 <script type="text/javascript">
  var dateToday = new Date(); 
  $(function() {
   $( "#datepicker1" ).datepicker({ minDate: 0,dateFormat: 'yy-mm-dd'});
 });
</script>

<div class="row">
 <div class="col-sm-12">
  <div class="well">
   <%= form_for :event, :url => event_path(@event), :method=> :put,:html => {:class =>"form-horizontal",:id =>"event_form"} do |f| %>
   <!--Venue -->
   <div class="form-group">
     <label for="inputEvent" class="col-sm-3 control-label">Event*</label>
     <div class="col-sm-7">
      
      <%= f.text_field :event_name,:class =>"form-control", :id=>"event_name",:placeholder => "Event" , readonly:(@event.user_id!=current_user.id) %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <!--Venue -->
  <div class="form-group">
   <label for="inputVenue" class="col-sm-3 control-label">Venue</label>
   <div class="col-sm-7">
     <%= f.text_field :venue,:class =>"form-control", :id=>"venue_name",:placeholder => "Venue", readonly:(@event.user_id!=current_user.id) %>
   </div>
   <div class="col-sm-2"></div>
 </div>
 <!--Date and Time -->
 <div class="form-group">
   <label for="inputDate" class="col-sm-3 control-label">Date</label>
   <div class="col-sm-3">
    <%= f.text_field :date,:class =>"form-control", :id=>"venue_name",:id =>"datepicker1" ,:placeholder => "Date", readonly:(@event.user_id!=current_user.id) %>
  </div>
  <label for="inputTime" class="col-sm-1a control-label">Time</label>
  <div class="col-sm-3">
    <%= f.time_field :time,:class =>"form-control", :id=>"event_time",:placeholder => "Time" , readonly:(@event.user_id!=current_user.id)%>
  </div>
</div>
<!--Description -->
<div class="form-group">
 <label for="inputescription" class="col-sm-3 control-label">Description</label>
 <div class="col-sm-7">
  <%= f.text_area :description,:size=> "50x7",:class =>"form-control", :id=>"venue_name",:placeholder => "Venue" , readonly:(@event.user_id!=current_user.id)%>
</div>
<div class="col-sm-2"></div>
</div>
<!--Invitees -->
<div class="form-group">
 <label for="inputescription" class="col-sm-3 control-label">Invitees</label>
 <div class="col-sm-7">
  <table class="table table-responsive table-fixed">
   <thead>
    <tr>
    </tr>
  </thead>
  <tbody style="border-style: solid;border-width: 1px;border-color: #ccc;">

   <!-- not current user's ticket -->
   <% if @event.user_id!=current_user.id %>
   <%participants.each do |user_id| %>
   <% users.each do |user|%>
   <% if user.id ==user_id%>
   <tr>
    <td><%=user.name.titleize%></td>
  </tr>
  <%end%>
  <%end%>
  <%end%>
  <%else%>

  <!-- current user's ticket -->
  <%participants.each do |user_id| %>
  <% users.each do |user|%>
  <% if user.id ==user_id%>
  <tr>
    <td><%=user.name.titleize%></td>
  </tr>
  <%end%>
  <%end%>
  <%end%>

  <%@user=users.where('id not in (?)',participants)%>
  <% @user.each do |user|%>
  <tr>
    <td><%= check_box_tag "invitees[]", user.id %></td>
    <td><%=user.name.titleize%></td>
  </tr>

  <%end%>
  <%end%>
</tbody>
</table>
</div>
<div class="col-sm-2"></div>
</div>

<!--Status -->
<div class="form-group">
 <label for="inputstatus" class="col-sm-3 control-label">Status</label>
 <div class="col-sm-3">
  <%= f.select :status, ['open','close'],{selected: @event.status}, {class: 'form-control1'}  %>
</div>
<div class="col-sm-2"></div>
</div>

<div class="modal-footer">
  <% if @event.user_id==current_user.id %>
  <%= f.submit "Ok", :class=>"btn btn-primary ok-btn-padding", :id =>"signup_button"%>
  
  <button type="button" class="btn btn-default ok-btn-padding" data-dismiss="modal">Cancel</button>
  <%end%>
  <%end%>
</div>
</div>
</div>
</div>