<!--    Header-->
<%= render :partial => "layouts/common/header"%>
<div id="div_flash_message">
  <%= render :partial=>"/layouts/common/flash_message" %>
</div>
<!--Content Area-->
<div class="container">
  <div class="row"> 
    <div class="col-sm-12">
     <!--Create Button trigger modal -->
     <div class="well-sm pull-right">
       <%= button_to "Create New Event", new_event_path ,:method=> :get, remote: true, :class=>"btn btn-warning", 'data-toggle' => 'modal'%>
       
     </div>
     <!-- Modal -->
     <div class="modal fade" id="myCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <%= render :partial => "events/create_event_modal"%>

      <!-- </div> -->
      <div class="clearfix"></div>
      <!-- </div> -->
      <div class="row"> 
       <!--List View column -->
       <div class="col-sm-5"> 
         <%if @events.present?%>
        <%@events.each do|event|%>
        <%= link_to edit_event_path(event), remote: true do %>
        <%= render :partial => "events/ticket",:locals=>{:event=>event} %>
        <%end%>
        <%end%>
        <%= paginate @events %>
        <%end%>

      </div>
      
      <!-- ./List view -->

      <!--Show View item -->
      <div class="col-sm-7">
        <div id="div_event_details">
        <%if @events.present?%>
          <%= render :partial => "events/create_event",:locals=>{:participants=>@participants,:users=>@users,:notparticipants=>@user}%> 
          <%end%>
        </div>
      </div>
      <!-- ./ Show item --> 

    </div>

  </div>
