<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Hi, <%= @invitee.user.name %>!</p>
	<p><%=@creator%> has invited you for the event- '<%=@invitee.event.event_name%>'. Please send your response 
	<%= link_to "Yes", email_response_event_url(@invitee.id,:response => "yes")%>
	<%= link_to "No", email_response_event_url(@invitee.id ,:response => "no")%>

	</p>
</body>
</html>